färdig.xlsx
getData.py
Handeln i Sverige 1992-2022 (REVIDERAD TIDSSERIE).xlsx
Handeln i Sverige 1992-2022.xlsx
notebook.ipynb
Regional handel nedladdningsbar fil (korrigerad).xlsx
Regional handel nedladdningsbar fil.xlsx
test.py



